<article class="footer position-fixed bottom-0 w-100">
    <div class="d-flex justify-content-center align-items-center" style="height: 50px;">
        <small class="p-0 m-0"><span class="">LingoLearn</span> , Copyright @ 2023. All right reserved.</small>
    </div>
</article>