<div class="loader-container position-fixed min-vh-100 min-vw-100 d-flex justify-content-center align-items-center fadeIn hide-loading" id="loader_box">
    <div class="loader-box bg-white shadow-lg d-flex justify-content-center align-items-center flex-wrap">
        <span class="loader me-3"></span>
        <h6 class="m-0 p-0 text-center">Loading . . .</h6>
    </div>
</div>