<%- include('partials/header'); %>
<link rel="stylesheet" href="css/help_support.css">

</head>
<body>

    <!---------------------------- send message box  ----------------------------------------->
    <div class="create min-vh-100 w-100 position-fixed top-0 d-flex justify-content-center align-items-center fadeIn d-none" id="message_box">
        <div class="new-content rounded py-4 px-3 shadow-sm">
            <h5 class="text-center mb-3">Send Message</h5>
            <form action="">
                <div class="input-group-sm mb-2 shadow-sm">
                    <label for="name" class="form-label mb-1"><small>Name</small></label>
                    <input type="text" class="form-control" id="name" required>
                </div>
                <div class="input-group-sm mb-2 shadow-sm">
                    <label for="message" class="form-label fw-bold mb-1"><small>Message</small></label
                    >
                    <textarea class="form-control" id="message" rows="3" placeholder="Send Message" required></textarea>
                </div>
                <div class="d-flex justify-content-end align-items-center">
                    <div class="btn btn-sm btn-danger me-2" id="cancel_btn">Cancel</div>
                    <input type="submit" class="btn btn-sm btn-success" name="Create" value="Send">
                </div>
            </form>
        </div>
    </div>
    
    <section class="main">

        <%- include('partials/menu_bar'); %>

        <!---------------------------- content  ----------------------------------------->
        <article class="content help-content min-vh-100">
            <h5 class="">Help And Suppport</h5>
            <div class="d-flex mt-3">
                <h6 class="px-1 mx-1 underline" id="inbox">Inbox</h6>
                <h6 class="px-1 mx-1" id="outbox">Outbox</h6>
            </div>

            <div class="inbox-containter bg-white mt-2 rounded fadeIn">
                <div class="inbox border-bottom px-3 py-2 shadow-sm mt-1">
                    <a href="/help_message" class="text-dark">
                        <div class="d-flex flex-wrap align-items-start justify-content-between">
                            <div class="name fw-medium"><small>thuzar@gmail.com</small></div>
                            <div class="date"><small>12/4/2023</small></div>
                            <div class="para w-100">
                                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, consectetur mollitia provident</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="inbox border-bottom px-3 py-2 shadow-sm mt-1">
                    <a href="/help_message" class="text-dark">
                        <div class="d-flex flex-wrap align-items-start justify-content-between">
                            <div class="name fw-medium"><small>muuyar@gmail.com</small></div>
                            <div class="date"><small>12/4/2023</small></div>
                            <div class="para w-100">
                                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, consectetur mollitia provident</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="outbox-container bg-white mt-2 rounded fadeIn d-none">
                <div class="outbox border-bottom px-3 py-2 shadow-sm mt-1">
                    <a href="/help_message" class="text-dark"></a>
                        <div class="d-flex flex-wrap align-items-start justify-content-between">
                            <div class="name fw-medium"><small>test@gmail.com</small></div>
                            <div class="date"><small>12/4/2023</small></div>
                            <div class="para w-100">
                                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, consectetur mollitia provident</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="outbox border-bottom px-3 py-2 shadow-sm mt-1">
                    <a href="/help_message" class="text-dark">
                        <div class="d-flex flex-wrap align-items-start justify-content-between">
                            <div class="name fw-medium"><small>angelayu@gmail.com</small></div>
                            <div class="date"><small>12/4/2023</small></div>
                            <div class="para w-100">
                                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, consectetur mollitia provident</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            
        </article>

        <!---------------------------- send message  ----------------------------------------->
        <div class="send-message d-flex justify-content-center align-items-center bg-primary text-white" id="send_message">
            <i class="bi bi-plus-lg"></i>
        </div>

        <%- include('partials/footer'); %>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="js/all.js"></script>
    <script>
        let inbox = document.querySelector('#inbox');
            outbox = document.querySelector('#outbox'),
            inboxContainter = document.querySelector('.inbox-containter'),
            outboxContainer = document.querySelector('.outbox-container');

            inbox.addEventListener('click',()=>{
                inboxContainter.classList.remove('d-none')
                inbox.classList.add('underline')
                outbox.classList.remove('underline')
                outboxContainer.classList.add('d-none')
            })
            outbox.addEventListener('click',()=>{
                outboxContainer.classList.remove('d-none')
                outbox.classList.add('underline')
                inbox.classList.remove('underline')
                inboxContainter.classList.add('d-none')
            })

        let sendMessage = document.querySelector('#send_message'),
        messageBox = document.querySelector('#message_box'),
        cancelBtn = document.querySelector('#cancel_btn');

        sendMessage.addEventListener('click', () => {
            messageBox.classList.remove('d-none');
        });

        cancelBtn.addEventListener('click', () => {
            messageBox.classList.add('d-none');
        })
    </script>
</body>
</html>