<%- include('partials/header'); %>

</head>
<body>

    <section class="main">

        <%- include('partials/menu_bar'); %>

        <!---------------------------- content  ----------------------------------------->
        <article class="content order-content min-vh-100">
            <h5 class="">Orders</h5>
            <div class="d-flex flex-wrap justify-content-between align-items-center mt-4">
                <div class="mt-2">
                    <input type="search" class="bg-white border-0 px-2 py-1 rounded" placeholder="Filter By Course">
                </div>
                <div class="mt-2">
                    <input type="file" class="d-none" id="filepicker">
                    <div class="bg-white rounded shadow-sm d-flex justify-content-between align-items-center">
                        <div class="px-4"><small class="" id="output">CSV</small></div>
                        <div class="btn btn-sm btn-warning" id="export">Export</div>
                    </div>
                </div>
            </div>
            <div class="table-container mt-3 py-3 px-2 bg-white shadow-sm">
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Order Course</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mg Mg</td>
                            <td>09871627123</td>
                            <td>address 1</td>
                            <td>LingoLearn Course 1</td>
                            <td>Buy</td>
                            <td class="text-success">Done</td>
                        </tr>
                        <tr>
                            <td>Aung Aung</td>
                            <td>09982232373</td>
                            <td>address 2</td>
                            <td>LingoLearn Course 2</td>
                            <td>Cancel</td>
                            <td class="text-danger">Rejected</td>
                        </tr>
                        <tr>
                            <td>Mg Naung</td>
                            <td>09871627123</td>
                            <td>address 1</td>
                            <td>LingoLearn Course 1</td>
                            <td>Buy</td>
                            <td class="text-success">Done</td>
                        </tr>
                        <tr>
                            <td>Mi Yu</td>
                            <td>09982232373</td>
                            <td>address 2</td>
                            <td>LingoLearn Course 2</td>
                            <td>Cancel</td>
                            <td class="text-danger">Rejected</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>

        <%- include('partials/footer'); %>

    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="js/all.js"></script>
    <script>

        $(document).ready(function () {
            $('#example').DataTable();
        });

        const output = document.getElementById("output");
        const filepicker = document.getElementById("filepicker");
        const exportBtn = document.getElementById("export");

        exportBtn.addEventListener("click", () => filepicker.click())
        filepicker.addEventListener("change", (event) => {
            const files = event.target.files;
            output.textContent = "";

            for (const file of files) {
                output.innerHTML = file.name;
            }
        });

    </script>
</body>
</html>